:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;

    .setup {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        .bloc {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
        }
    }

    .panel {
        border: 1px solid #000000;
    }
}