<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Panel Generator</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-content class="editing">
    <app-bloc-size class="bloc size" [panel]="panel"></app-bloc-size>
    <app-bloc-border class="bloc border" [border]="panel.border"></app-bloc-border>
  </mat-card-content>
</mat-card>

<div
  class="panel"
  [ngStyle]="{
    'width.px': panel.width,
    'height.px': panel.height,
    'border-width.px': panel.border.isActive ? panel.border.width : 0,
    'border-color': '#' + panel.border.color,
    'border-style': panel.border.style.name
  }"
></div>
