:host {
  > .size-card {
    height: 100%;
    box-sizing: border-box;

    form.size-form {
      display: flex;
      flex-direction: column;

      > mat-form-field {
        width: 100%;
      }
    }
  }
}
