<mat-card class="border-card">
  <mat-card-header>
    <mat-card-title>Edit panel border</mat-card-title>
    <mat-card-subtitle>
      Size used are pixels,
      <br />
      Colors are hexadecimal
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox [checked]="border.isActive" (change)="border.isActive = !border.isActive">Enable border</mat-checkbox>
    <form class="border-form">
      <mat-form-field>
        <input
          matInput
          id="border-width"
          name="input-border-width"
          placeholder="Border width"
          type="text"
          [value]="border.width"
          [(ngModel)]="border.width"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          id="border-color"
          name="input-border-color"
          placeholder="Border Color (in hexadecimal)"
          type="text"
          [value]="border.color"
          [(ngModel)]="border.color"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select
          id="border-style"
          name="select-border-style"
          placeholder="Border style"
          [value]="border.styleId"
          [(ngModel)]="border.styleId"
        >
          <mat-option *ngFor="let borderStyle of usableBorderStyles" value="borderStyle.id">{{
            borderStyle.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
